<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>{{title}}</title>

		<meta charset="utf-8">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
		<link rel="stylesheet" href="style.css">

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
		<script type="text/javascript" src="radarChart.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<portfolio-header></portfolio-header>
			</header>
			<main>
				<ui-view></ui-view>
			</main>
			<footer>
				<portfolio-footer></portfolio-footer>
			</footer>
		</div>

		<script type="text/ng-template" id="home.html">
			<div class="row"> 
				<div class="one-half column">
					<nav class="main-navigation">
						<ul>
							<li><a href="/work">Work</a></li>
							<li><a href="/publication">Publications</a></li>
							<li><a href="/profile">Profile</a></li>
						</ul>
					</nav>
				</div>
				<div class="one-half column">
					<!-- Map & Contact & Github -->
					<contact></contact>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="work.html">
			<div class="row"> 
				<div class="twelve column">
					<h4 class="section-title">Work</h4>
				</div>
				<div class="twelve column data-content-holder" ng-show="vm.showList">
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2012</h6>
						</div>
						<div class="ten columns">
							<ul class="data-content-link">
								<li><a href="/work/vision2012">VISION 2012</a></li>
								<li><a href="/work/aaceg2012">AACEG 2012</a></li>
							</ul>
						</div>
					</div>
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2013</h6>
						</div>
						<div class="ten columns">
							<ul class="data-content-link">
								<li><a href="/work/itrix2013">ITRIX 2013</a></li>
								<li><a href="/work/cos2013">COS 2013</a></li>
								<li><a href="/work/ceghostel">CEG Hostel</a></li>
								<li><a href="/work/k2014">Kurukshetra 2014</a></li>
							</ul>
						</div>
					</div>
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2014</h6>
						</div>
						<div class="ten columns">
							<ul class="data-content-link">
								<li><a href="/work/pinnacle2014">PINNACLE 2014</a></li>
								<li><a href="/work/itrix2014">ITRIX 2014</a></li>
							</ul>
						</div>
					</div>
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2015</h6>
						</div>
						<div class="ten columns">
							<div class="ten columns">
								<ul class="data-content-link">
									<li><a href="/work/kiewit">Kiewit</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2016</h6>
						</div>
						<div class="ten columns">
							<ul class="data-content-link">
								<li><a href="/work/visionlink">VisionLink</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder" ng-hide="vm.showList">
					<div class="row work-item-holder" data-type="1" ng-show="vm.workData.type == 1">
						<div class="three columns">
							<h3 class="work-item-title">
								{{ vm.workData.name }}
							</h3>
							<h5 class="work-item-url">
								<a ng-href="{{ vm.workData.url.uri }}" target="_blank">{{ vm.workData.url.uri }}</a>
							</h5>
							<h5 class="work-item-status">
								{{ vm.workData.url.state }}
							</h5>
							<p class="work-item-description" ng-show="vm.workData.description != ''">
								{{ vm.workData.description }}
							</p>
							<div class="work-item-tags" ng-show="vm.workData.tags.length">
								<span ng-repeat="tag in vm.workData.tags" ng-show="tag">
									{{ tag }}
								</span>
							</div>
						</div>
						<div class="nine columns">
							<div class='browser-window' ng-show="vm.workData.images" ng-repeat="workImage in vm.workData.images">
								<div class='top-bar'>
									<div class='circles'>
										<div class="circle circle-red"></div>
										<div class="circle circle-yellow"></div>
										<div class="circle circle-green"></div>
									</div>
								</div>
								<div class='content'>
									<img ng-src="{{ workImage.url }}" title="{{ workImage.title }}">
								</div>
							</div>
						</div>
					</div>
					<div class="row work-item-holder" data-type="1" ng-show="vm.workData.type == 2">
						Proxima
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="publication.html">
			<div class="row"> 
				<div class="twelve column">
					<h4 class="section-title">Publications</h4>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row data-content">
						<div class="two columns">
							<h6 class="data-date-title">2014</h6>
						</div>
						<div class="ten columns">
							<div class="data-content-publication-list">
								<div class="row">
									<div class="publication-header">
										<h4 class="publication-title">
											Feature Selection Framework for Data Analytics in Microblogs
										</h4>
										<h5 class="publication-sub-title">
											ERCICA 2014 - Emerging Research In Computing, Information, Communication And Applications
										</h5>
										<h5 class="publication-volume">
											Volume 2
										</h5>
									</div>
									<div class="publication-content"> 
										<p>
											The usage of social networks has been on the rise owing to the ubiquitous availability of the Internet. People use social networks to express their views, to provide their comments and to share their experiences with everyone. This data can be used by various people, from manufacturers of products, to politicians predicting election results thus making it an actively pursued research problem in social networks research. Specifically, the problem of obtaining the opinion of people about a certain entity is of high importance. A myriad of traditional learning based text classification schemes have been proposed over the years to this end. However, in microblogs such as Twitter, a lexicon based classification scheme is more suitable owing to the short length of the text. Our aim in this project is to build a novel opinion search engine that makes use of a sentimental word dictionary for text classification to deduce the intents.
										</p>
									</div>
									<div class="publication-footer"> 
										<h5 class="publication-publisher-title">
											Elsevier Science and Technology
											<div class="u-pull-right publication-options-menu">
												<a href="javascript:void(0)" disabled><i class="fa fa-external-link"></i></a>
												<a href="http://www.elsevierst.com/conference_book_download_chapter.php?cbid=83#chapter60" target="_blank"><i class="fa fa-link"></i></a>
												<a href="/publication/9789351072621_ERCICA_2014_vol2_60.pdf" target="_blank"><i class="fa fa-download"></i></a>
											</div>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="profile.html">
			<div class="row"> 
				<div class="twelve column">
					<h4 class="section-title">Profile</h4>
				</div>
				<div class="twelve column data-content-holder">
					<h5 class="current-profile"><span>Chandresh</span> R.M.</h5>
					<h6 class="current-profile-sub">01 January 1993 / Rajkumar V. / Manonmani S.</h6>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="one-third column">
							<h6 class="current-profile-track-title">Employment</h6>
						</div>
						<div class="two-thirds column">
							<div class="current-profile-track-data-holder">
								<div class="current-profile-data-title">Caterpillar EDC-I/Trimble, Chennai</div>
								<div class="current-profile-data-sub-title">
									<div class="current-profile-data-year">June 2014 - Present</div>
								</div>
								<div class="current-profile-data-content">
									Responsible for Front-End Development, understand the basic tenets of custom design, implement consistent and flexible interface in HTML/CSS, and use JavaScript to bring it to life. Provide support for browser incompatibilities, mobile device fragmentation, a multitude of screen sizes and resolution. Agile Scrum-based teams.
								</div>
							</div>
							<div class="current-profile-track-data-holder">
								<div class="current-profile-data-title">Tesark Technologies, Chennai</div>
								<div class="current-profile-data-sub-title">
									<div class="current-profile-data-year">January 2013 - May 2014</div>
									<div class="current-profile-data-type">Part-Time</div>
								</div>
								<div class="current-profile-data-content">
									Designing and Implementing common content distribution stack for heterogeneous applications, for performance and scalability. Full-Stack Development include polyglot development environment, varying between PHP and Ruby on Rails for backend development, and standard JavaScript for front-end, implementing custom designed interfaces, accepting challenges of time to contemplate quality of product.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="one-third column">
							<h6 class="current-profile-track-title">Education</h6>
						</div>
						<div class="two-thirds column">
							<div class="current-profile-track-data-holder">
								<div class="current-profile-data-title">College of Engineering, Guindy</div>
								<div class="current-profile-data-sub-header">Anna University, Chennai</div>
								<div class="current-profile-data-course-holder">
									<div class="current-profile-data-degree">Bachelor of Technology</div>
									<div class="current-profile-data-course">Information Technology</div>
								</div>
								<div class="current-profile-data-sub-title">
									<div class="current-profile-data-year">August 2010 - May 2014</div>
									<div class="current-profile-data-type">6.96 CGPA</div>
								</div>
								<div class="current-profile-data-content">
									<div class="row">
										<div class="one-half column">
											<ul class="current-profile-data-list">
												<li>Design and Analysis of Algorithms</li>
												<li>Programming and Data Structures I</li>
												<li>Programming and Data Structures II</li>
												<li>Database Management Systems</li>
												<li>Computer Organization</li>
												<li>Operating Systems</li>
												<li>Web Technology</li>
												<li>Software Engineering</li>
												<li>Formal Languages and Automata</li>
												<li>Embedded Systems</li>
												<li>Object Oriented Analysis and Design</li>
												<li>Internet Programming</li>
												<li>Computer Networks</li>
											</ul>
										</div>
										<div class="one-half column">
											<ul class="current-profile-data-list">
												<li>Software Project Management</li>
												<li>Multimedia Systems</li>
												<li>Distributed Systems</li>
												<li>Service Oriented Architecture</li>
												<li>Data Analytics</li>
												<li>Wireless Networks</li>
												<li>Grid Computing</li>
												<li>Statistics and Linear Programming</li>
												<li>User Interface Design</li>
												<li>Software Testing</li>
												<li>Cryptography and Security</li>
												<li>Soft Computing</li>
												<li>Bio Informatics</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="one-third column">
							<h6 class="current-profile-track-title">Extra Curricular</h6>
						</div>
						<div class="two-thirds column">
							<div class="current-profile-track-data-holder">
								<div class="current-profile-data-title">National Cadet Corps</div>
								<div class="current-profile-data-sub-title">
									<div class="current-profile-data-year">August 2010 - June 2012</div>
									<div class="current-profile-data-type">4 [TN] Naval Tech Unit</div>
								</div>
								<div class="current-profile-data-content">
									A student military cadet corps, trained to be auxillary support for armed forces. During this period, we were trained in leadership traits and military discipline. We also underwent training on disaster management from country's foremost NBCD school. As part of curriculum, we were certified with 'B' & 'C' certificate.

									<ul class="current-profile-data-list">
										<li>May 2011 - Leading Cadet</li>
										<li>January 2012 - Petit Officer Cadet</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="one-third column">
							<h6 class="current-profile-track-title">Language</h6>
						</div>
						<div class="two-thirds column">
							<div class="current-profile-track-data-holder">
								<div class="current-profile-data-content">
									<ul class="current-profile-data-list">
										<li>Telugu (Mothertongue)</li>
										<li>Tamil</li>
										<li>English</li>
										<li>French</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="twelve column">
							<h6 class="current-profile-track-title">Skill</h6>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="generalSkillChart radar-chart"></div>
					<div class="frontDevelopmentSkillChart radar-chart"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="one-half column">
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Programming
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">C/C++</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">PHP</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Ruby</h6>
										<progress value="30" max="100"></progress>
										<span>30%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Javascript</h6>
										<progress value="65" max="100"></progress>
										<span>65%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">R</h6>
										<progress value="10" max="100"></progress>
										<span>10%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Database
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">MySQL</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Oracle 9i + PL/SQL</h6>
										<progress value="10" max="100"></progress>
										<span>10%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">MongoDB</h6>
										<progress value="10" max="100"></progress>
										<span>10%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Operating System
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Windows 7</h6>
										<progress value="70" max="100"></progress>
										<span>70%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Ubuntu 14.04</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Software & Tools
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Git</h6>
										<progress value="70" max="100"></progress>
										<span>70%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Jenkins</h6>
										<progress value="10" max="100"></progress>
										<span>10%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Microsoft Office 2013 (Word + Excel)</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									IDE & Text Editor
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Sublime Text 3</h6>
										<progress value="70" max="100"></progress>
										<span>70%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Visual Studio 2013</h6>
										<progress value="50" max="100"></progress>
										<span>50%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Eclipse Mars</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Cloud Service
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Amazon Web Service</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">DigitalOcean</h6>
										<progress value="30" max="100"></progress>
										<span>30%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="one-half column">
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Coding
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Javascript</h6>
										<progress value="65" max="100"></progress>
										<span>65%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Typescript</h6>
										<progress value="30" max="100"></progress>
										<span>30%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">ES6</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">HTML5</h6>
										<progress value="65" max="100"></progress>
										<span>65%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">CSS3</h6>
										<progress value="50" max="100"></progress>
										<span>50%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Tools
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Node & NPM</h6>
										<progress value="30" max="100"></progress>
										<span>30%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Gulp</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Bower</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Webpack</h6>
										<progress value="30" max="100"></progress>
										<span>30%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Framework
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Bootstrap</h6>
										<progress value="80" max="100"></progress>
										<span>80%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Skeleton</h6>
										<progress value="50" max="100"></progress>
										<span>50%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">jQuery</h6>
										<progress value="65" max="100"></progress>
										<span>65%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">AngularJS</h6>
										<progress value="60" max="100"></progress>
										<span>60%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">D3</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">ThreeJS</h6>
										<progress value="5" max="100"></progress>
										<span>5%</span>
									</div>
								</div>
							</div>
							<div class="skill-bar">
								<h6 class="skill-bar-title">
									Design
								</h6>
								<div class="skill-bar-holder">
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">Photoshop</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
									<div class="skill-bar-division">
										<h6 class="skill-bar-sub-title">SVG</h6>
										<progress value="20" max="100"></progress>
										<span>20%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="twelve column">
							<h6 class="current-profile-track-title">Hobbies</h6>
						</div>
						<div class="twelve column">
							<img src="assets/coc.png" alt="Clash of Clans" class="current-profile-hobby-image">
							<img src="assets/boombeach.png" alt="Boom Beach" class="current-profile-hobby-image">
							<img src="assets/gta5.png" alt="GTA 5" class="current-profile-hobby-image">
						</div>
					</div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="current-profile-divider"></div>
				</div>
				<div class="twelve column data-content-holder">
					<div class="row">
						<div class="twelve column">
							<h6 class="current-profile-track-title">Contact</h6>
						</div>
						<div class="twelve column">
							<div class="row">
								<div class="one-half column">
									<contact></contact>
								</div>
								<div class="one-half column">
									<a href="/assets/CHANDRESH-Resume.pdf" target="_blank" class="current-profile-download-icon">
										<i class="fa fa-arrow-down"></i> Download Resume
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="contact.html">
			<div class="row">
				<div class="twelve column">
					<div class="contact-social-icons">
						<a href="https://www.facebook.com/cs1193" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://github.com/cs1193" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://bitbucket.org/cs1193/" target="_blank"><i class="fa fa-bitbucket"></i></a>
						<a href="https://www.instagram.com/cs1193/" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/cs1193" target="_blank"><i class="fa fa-linkedin"></i></a>
						<a href="http://stackoverflow.com/users/3283616/cs1193" target="_blank"><i class="fa fa-stack-overflow"></i></a>
					</div>
					<div class="contact-address">
						34/7, CPWD Quarters (New), 2nd Avenue, Besant Nagar, <br>
						Chennai - 600090
					</div>
					<div class="contact-phone-email">
						<span>chandresh.rm@gmail.com</span>
						<span class="u-pull-right">+91 9791793004</span>
					</div>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="portfolio-header.html">
			<div class="row">
				<div class="twelve column">
					<figure class="face"></figure>
					<h1 class="title">Chandresh Rajkumar Manonmani</h1>
					<h2 class="sub-title">Programmer/Web Developer</h2>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="portfolio-footer.html"> 
			<div class="row">
				<div class="one-half column">
					<h6 class="footer-stamp">designed & made in <span>chennai</span></h6>
				</div>
				<div class="one-half column">
					<nav class="u-pull-right footer-navigation" ng-show="showFooterMenu">
						<ul>
							<li><a href="/">Home</a></li>
							<li>/</li>
							<li><a href="/work">Work</a></li>
							<li>/</li>
							<li><a href="/publication">Publications</a></li>
							<li>/</li>
							<li><a href="/profile">Profile</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</script>
	</body>
</html>