@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@font-face {
	font-family: 'DINPro';
	src: local('☺︎'), url('DINPro.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: hsla(60, 8%, 95%, 1.0);
	-webkit-font-smoothing: antialiased;
}

.clear {
	clear: both;
}

figure.face {
	display: block;
    width: 7.5vw;
    height: 20vh;
    background-image: url('face.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2vw 0;
}

h1.title {
	font-family: 'Varela Round', sans-serif;
	font-size: 2.5vw;
	color: hsla(0, 0%, 1%, 1.0);
	margin-bottom: 1%;
	font-weight: bold;
}

h2.sub-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 2vw;
	color: hsla(240, 6%, 35%, 1.0);
	margin-bottom: 1%;
}

nav.main-navigation {
	padding: 5% 2%;
}

nav.main-navigation ul {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5vw;
	list-style: none;
}

nav.main-navigation ul li a {
	text-decoration: none;
	color: hsla(0, 0%, 1%, 1.0);
	text-transform: uppercase;
}

nav.main-navigation ul li a::before,
nav.main-navigation ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

nav.main-navigation ul li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

nav.main-navigation ul li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

nav.main-navigation ul li a:hover::before,
nav.main-navigation ul li a:hover::after,
nav.main-navigation ul li a:focus::before,
nav.main-navigation ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

h4.section-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5vw;
	color: hsla(240, 6%, 35%, 1.0);
	margin: 2% 0;
	padding: .5% 0;
	border-bottom: 1px solid hsla(240, 6%, 35%, 1.0);
}

div.data-content-holder {
	margin-left: 0;
}

div.data-content {
	padding-top: 2%;
	border-bottom: 1px dotted hsla(240, 6%, 35%, 1.0);
}

div.data-content:last-child {
	border-bottom: none;
}

h6.data-date-title {
	font-family: 'DINPro';
	font-size: 1.5vw;
	text-transform: uppercase;
	padding: 0.5%;
}

ul.data-content-link {
	list-style: none;
}

ul.data-content-link li {
	display: inline;
	padding: 0 2%;
}

ul.data-content-link li a {
	font-family: 'Varela Round', sans-serif;
	padding: 1% 2%;
	text-decoration: none;
	color: hsla(0, 0%, 0%, 1.0);
    transition: all .5s ease-out;
    font-size: 1.25vw;
}

ul.data-content-link li a:hover {
	background-color: hsla(228, 6%, 17%, 1);
	color: hsla(60, 8%, 95%, 1.0);
}

div.data-content-publication-list {
	padding: 1% 2%;
	background: hsla(0, 0%, 1%, 1.0);
	color: hsla(60, 8%, 95%, 1.0);
	font-family: 'Varela Round', sans-serif;
}

div.data-content-publication-list div.publication-header {
	border-bottom: 1px solid rgba(209, 209, 207, 1.0);
	padding: 1%;
}

div.data-content-publication-list h4.publication-title {
	font-size: 1.25vw;
	text-transform: uppercase;
	padding: 1% 0;
	padding-bottom: 0;
	letter-spacing: 0.1vw;
	word-spacing: 0.2vw;
	margin-bottom: 0;
}

div.data-content-publication-list h5.publication-sub-title {
	font-size: 1.10vw;
	font-style: italic;
	padding: 0.5% 0;
	margin-bottom: 0;
	letter-spacing: 0.025vw;
}

div.data-content-publication-list h5.publication-volume {
    font-size: 1vw;
    padding: 0.05% 0.2%;
    margin-bottom: 0;
    letter-spacing: 0.025vw;
    font-style: italic;
}

div.data-content-publication-list div.publication-content {
	padding: 1%;
}

div.data-content-publication-list div.publication-content p {
	font-size: 1vw;
	padding: 1%;
	text-align: justify;
	margin-bottom: 0;
}

div.data-content-publication-list div.publication-footer {
	border-top: 1px solid rgba(209, 209, 207, 1.0);
	padding: 1%;
}

div.data-content-publication-list h5.publication-publisher-title {
	font-family: 'DINPro';
	text-transform: uppercase;
	font-size: 1.10vw;
	margin-bottom: 0;
}

div.publication-options-menu {
	padding: 0 1%;
    width: 12%;
}

div.publication-options-menu a {
	padding: 0 5%;
    color: rgba(209, 209, 207, 1.0);
}

h6.footer-stamp {
	font-family: 'Varela Round', sans-serif;
	font-size: 1vw;
	text-transform: lowercase;
	padding: 1% 0;
}

h6.footer-stamp span {
	font-weight: bold;
	border-top: 1px dotted rgba(2, 2, 2, 1.0);
	border-bottom: 1px dotted rgba(2, 2, 2, 1.0);
	padding: 0.25% 0;
}

footer {
	padding: 2% 0;
}

div.work-item-holder {
	font-family: 'Varela Round', sans-serif;
}

h3.work-item-title {
	font-size: 1.10vw;
	letter-spacing: normal;
	text-transform: uppercase;	
}

h5.work-item-url {
	font-size: 1vw;
}

h5.work-item-url a {
	color: rgba(2, 2, 2, 1.0);
	text-decoration: none;
}

h5.work-item-url a:hover {
	border-bottom: 1px dotted rgba(2, 2, 2, 1.0);
}

h5.work-item-status {
	border: 1px solid rgba(2, 2, 2, 1.0);
	padding: 1%;
	border-radius: 5px;
	font-size: 1vw;
	text-transform: uppercase;
	background: rgba(2, 2, 2, 1.0);
	color: hsla(60, 8%, 95%, 1.0);
	letter-spacing: 0.1vw;
	text-align: center;
}

p.work-item-description {
	border-top: 1px solid rgba(2, 2, 2, 1.0);
	border-bottom: 1px solid rgba(2, 2, 2, 1.0);
	font-size: 1vw;
	padding: 5%;
}

div.work-item-tags {
	font-size: 1vw;
	padding: 5% 1%;
}

div.work-item-tags span {
	border: 1px solid rgba(2, 2, 2, 1.0);
	padding: 1% 2%;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75vw;
	margin: 1%;
}

.browser-window
{
    display: block;

    width: 100%;
    height: 500px;
    margin: 20px;

    text-align: left;

    border-radius: 5px;
    background-color: #fff;    
    border: 1px solid rgba(2, 2, 2, 1.0);
}

.browser-window .top-bar
{
    height: 30px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(2, 2, 2, 1.0);
}

.browser-window .circle
{
    display: inline-block;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: white;
	border: 1px solid rgba(2, 2, 2, 1.0);
}

.browser-window .circles
{
    margin: 2px 11px;
}

.browser-window .content
{
    display: inline-block;

    width: 100%;
    min-height: 200px;
    margin: 0;

    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.contact-section-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.25vw;
	margin-bottom: 0;
}

.contact-social-icons {
	padding: 2% 0;
	border-bottom: 1px dotted rgba(2, 2, 2, 0.5);
}

.contact-social-icons a {
    font-size: 1.5vw;
    color: rgba(2, 2, 2, 1.0);
    padding: 0 3%;
}

.contact-address {
	padding: 2%;
	font-family: 'Varela Round', sans-serif;
	font-size: 1vw;
	margin: 2%;
}

.contact-phone-email {
	padding: 2% 0;
	border-top: 1px dotted rgba(2, 2, 2, 0.5);
	font-family: 'Varela Round', sans-serif;
}

.contact-phone-email span {
	padding: 0 2%;
	font-size: 1vw;
}

.legend {
	font-family: 'Varela Round', sans-serif;
	fill: #333333;
}

.tooltip {
	font-family: 'Varela Round', sans-serif;
	fill: #333333;
}

h5.current-profile {
	font-family: 'Varela Round', sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
	margin-bottom: 0;
}

h5.current-profile span {
	font-weight: bold;
}

h6.current-profile-sub {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5vw;
	margin-bottom: 0;
}

div.current-profile-divider {
	margin: 2% 0;
	border-bottom: 1px dotted rgba(2, 2, 2, 1.0);
}

h6.skill-bar-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.10vw;
	margin-bottom: 0;
	padding: 1% 0;
	border-bottom: 1px dotted rgba(2, 2, 2, 1.0);
	margin: 2% 0;
}

div.skill-bar-holder {
	font-family: 'Varela Round', sans-serif;
}

div.skill-bar-division {
	padding: 2% 0;
}

h6.skill-bar-sub-title {
	font-size: 1vw;
	margin-bottom: 0;
}

div.skill-bar-division span {
	left: 2%;
	position: relative;
	font-size: 0.75vw;
	/* font-weight: bolder; */
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	top: -25px;
}

progress {
	background-color: #f3f3f3;
	border: 0;
	height: 1em;
	width: 100%;
}

progress::-webkit-progress-bar {
	background-color: #e0eaf0;
}

progress::-webkit-progress-value {
	background-color: #696969;
}

progress::-moz-progress-bar {
	background-color: #329ad1;
}

div.skill-bar {
	padding: 2% 0;
}

div.radar-chart {
	display: block;
    float: left;
    width: 300px;
    margin-left: 10%;
}

h6.current-profile-track-title {
	font-family: 'DINPro';
	font-size: 1.5vw;
	text-transform: uppercase;
}

div.current-profile-track-data-holder {
	font-family: 'Varela Round', sans-serif;	
	margin-bottom: 2.5%;
}

div.current-profile-data-title {
	font-size: 1.25vw;	
    color: rgba(2, 2, 2, 1.0);
    text-transform: uppercase;
	font-weight: bold;
}

div.current-profile-data-sub-title {
	float: left;
	width: 100%;
	padding: 1% 0;
}

div.current-profile-data-year {
	font-size: 0.75vw;
	width: auto;
	color: rgba(2, 2, 2, 1.0);
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid rgba(2, 2, 2, 1.0);
	text-align: center;
	float: left;
	padding: 0.1% 2%;
	margin: 0 1%;
}

div.current-profile-data-type {
	font-size: 0.75vw;
	width: auto;
	color: hsla(60, 8%, 95%, 1.0);
	text-transform: uppercase;
	border-radius: 5px;
	background: rgba(2, 2, 2, 1.0);
	border: 1px solid rgba(2, 2, 2, 1.0);
	text-align: center;
	float: left;
	padding: 0.1% 2%;
	margin: 0 1%;
}

div.current-profile-data-content {
	padding: 5% 2%;
	font-size: 1vw;
	text-align: justify;
}

div.current-profile-data-sub-header {
	font-size: 1.10vw;
	font-style: italic;
}

div.current-profile-data-course-holder {
	padding: 0 2%;
	font-size: 1vw;
	border-left: 2px solid rgba(2, 2, 2, 1.0);
	margin: 1%;
}

div.current-profile-data-degree {
	font-weight: bold;
}

div.current-profile-data-course {
	font-style: italic;
} 

img.current-profile-hobby-image {
	width: 15%;
}

a.current-profile-download-icon {
	color: rgba(2, 2, 2, 1.0);
	font-size: 2vw;
	text-decoration: none;
	text-align: center;
	font-family: 'DINPro';
	text-transform: uppercase;
	margin: 10% 25%;
}

ul.current-profile-data-list {
	list-style: none;
	padding: 2% 0;
}

ul.current-profile-data-list li {
	border-left: 0.5px solid rgba(2, 2, 2, 0.5);
    padding-left: 2.5%;
    margin-bottom: 1.5%;
}