@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Monoton");

@font-face {
	font-family: 'DINPro';
	src: local('☺︎'), url('DINPro.otf') format('opentype');
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: hsla(60, 8%, 95%, 1.0);
	-webkit-font-smoothing: antialiased;
}

.clear {
	clear: both;
}

figure.face {
	display: block;
    width: 7.5vw;
    height: 20vh;
    background-image: url('face.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2vw 0;
}

h1.title {
	font-family: 'Varela Round', sans-serif;
	font-size: 2.5vw;
	color: hsla(0, 0%, 1%, 1.0);
	margin-bottom: 1%;
	font-weight: bold;
}

h2.sub-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 2vw;
	color: hsla(240, 6%, 35%, 1.0);
	margin-bottom: 1%;
}

nav.main-navigation {
	padding: 5% 2%;
}

nav.main-navigation ul {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5vw;
	list-style: none;
}

nav.main-navigation ul li a {
	text-decoration: none;
	color: hsla(0, 0%, 1%, 1.0);
	text-transform: uppercase;
}

nav.main-navigation ul li a::before,
nav.main-navigation ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

nav.main-navigation ul li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

nav.main-navigation ul li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

nav.main-navigation ul li a:hover::before,
nav.main-navigation ul li a:hover::after,
nav.main-navigation ul li a:focus::before,
nav.main-navigation ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

h4.section-title {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.5vw;
	color: hsla(240, 6%, 35%, 1.0);
	margin: 2% 0;
	padding: .5% 0;
	border-bottom: 1px solid hsla(240, 6%, 35%, 1.0);
}

div.data-content-holder {
	margin-left: 0;
}

div.data-content {
	padding-top: 2%;
	border-bottom: 1px dotted hsla(240, 6%, 35%, 1.0);
}

div.data-content:last-child {
	border-bottom: none;
}

h6.data-date-title {
	font-family: 'DINPro';
	font-size: 1.5vw;
	text-transform: uppercase;
	padding: 0.5%;
}

h6.footer-stamp {
	font-family: 'Varela Round', sans-serif;
	font-size: 1vw;
	text-transform: lowercase;
}